{% extends "base.html" %}

{% block title %}{{ listing.title }} | SpartieSwap{% endblock %}

{% block content %}
<a class="d-inline-block mb-3" href="{% url 'listings:list' %}">
  ← Back to listings
</a>

<div class="row g-4">
  {% if listing.image %}
    <div class="col-md-5">
      <img
        src="{{ listing.image.url }}"
        class="img-fluid rounded border"
        alt="Photo of {{ listing.title }}"
      >
    </div>
  {% endif %}

  <div class="{% if listing.image %}col-md-7{% else %}col-12{% endif %}">
    <h1>{{ listing.title }}</h1>
    <p>{{ listing.description }}</p>

    <dl class="row">
      <dt class="col-sm-4">Category</dt>
      <dd class="col-sm-8">{{ listing.get_category_display }}</dd>

      <dt class="col-sm-4">Condition</dt>
      <dd class="col-sm-8">{{ listing.get_condition_display }}</dd>

      <dt class="col-sm-4">Pickup area</dt>
      <dd class="col-sm-8">{{ listing.get_pickup_area_display }}</dd>

      <dt class="col-sm-4">Available dates</dt>
      <dd class="col-sm-8">
        {{ listing.available_from }}–{{ listing.available_until }}
      </dd>

      <dt class="col-sm-4">Maximum loan</dt>
      <dd class="col-sm-8">
        {{ listing.maximum_loan_days }}
        day{{ listing.maximum_loan_days|pluralize }}
      </dd>

      <dt class="col-sm-4">Lessor</dt>
      <dd class="col-sm-8">{{ listing.owner.get_short_name }}</dd>
    </dl>

    {% if listing.owner == user %}
      <a
        class="btn btn-dark"
        href="{% url 'listings:owner-controls' listing.pk %}"
      >
        Owner controls
      </a>
    {% else %}
      <a
        class="btn btn-dark"
        href="{% url 'loans:request-listing' listing.pk %}"
      >
        Request this item
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}
